.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  visibility: hidden;
}

.dell {
  display: none;
  font-size: 0;
}

:root {
  --primary-text-collor: #757575;
  --title-text-collor: #212121;
  --accent-collor: #2196f3;
  --white-collor: #ffffff;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: var(--white-collor);
  color: var(--primary-text-collor);
  font-family: roboto, sans-serif;
}

.content-line {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.header__logo .header__logo-black {
  color: #000000;
}

.header-nav {
  display: flex;
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

.header-nav a {
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-nav .header-nav__link {
  color: var(--title-text-collor);
  position: relative;
  transition: color 250ms linear;
}

.header-nav .header-nav__link:hover,
.header-nav .header-nav__link:focus {
  color: #2196f3;
}

.header-nav .header-nav__items {
  margin-right: 50px;
}

.header-nav .header-nav__items:last-child {
  margin-right: 0;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  position: absolute;
  bottom: -32px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .header-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .header-nav-right {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-nav-right {
    padding: 0;
  }
}

.site-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts {
    flex-direction: row;
  }
}

.site-contacts .site-contacts__items {
  display: flex;
}

@media screen and (min-width: 768px) {
  .site-contacts__items:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__items:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.site-contacts__link {
  color: var(--primary-text-collor);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms linear;
}

.site-contacts__link:focus, .site-contacts__link:hover {
  color: #2196f3;
}

.site-contacts__link:focus .site-contacts__icons,
.site-contacts__link:hover .site-contacts__icons {
  fill: #2196f3;
}

.site-contacts__icons {
  margin-right: 10px;
  fill: var(--primary-text-collor);
}

.mob-menu {
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding-top: 21px;
  padding-bottom: 48px;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 30px;
}

@media screen and (min-width: 450px) {
  .conteiner {
    margin-left: 40px;
  }
}

.close-menu-btn {
  display: block;
  margin-left: auto;
  margin-right: 21px;
}

.open-menu-btn {
  border: none;
  background-color: initial;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.mob-menu__items:not(:last-child) {
  margin-bottom: 30px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196f3;
}

.mob-menu-contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

@media screen and (min-width: 450px) {
  .mob-menu-contacts__tel {
    font-size: 32px;
  }
}

.mob-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu__contacts {
  margin-bottom: 64px;
}

.mob-social-list {
  display: flex;
}

.mob-social-list__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 0;
}

@media screen and (min-width: 450px) {
  .mob-social-list__link {
    font-size: 18px;
  }
}

.mob-social-list__item:not(:last-child) {
  margin-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 5px;
}

@media screen and (min-width: 450px) {
  .mob-social-list__item:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}

.open-menu__icons:focus, .open-menu__icons:hover {
  fill: #2196f3;
}

.close-menu-btn {
  border: none;
  background-color: inherit;
}

.close-menu__icons:focus, .close-menu__icons:hover {
  fill: #2196f3;
}

.small-picture {
  max-width: 290px;
}

@media screen and (min-width: 450px) {
  .small-picture {
    max-width: none;
  }
}

.footer-section {
  text-align: center;
  display: flex;
  justify-content: baseline;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-collor);
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-section__list {
    text-align: start;
  }
}

.footer-section__list .footer-section__link {
  margin-top: 9px;
  transition: color 250ms linear, background-color 250ms linear;
}

.footer-section__list .footer-section__link:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-section__list .footer-section__link:last-child {
    margin-bottom: 0;
  }
}

.footer-section__list .footer-section__text {
  color: rgba(255, 255, 255, 0.6);
}

.footer-section__list .footer-section__text:hover,
.footer-section__list .footer-section__text:focus {
  color: #2196f3;
}

.footer-section__logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.footer-section__logo .footer-section__logo-white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-section__logo {
    align-items: flex-start;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-logo:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
  }
}

.footer-logo__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.footer-logo__item:not(:last-child) {
  margin-right: 10px;
}

.footer-logo__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear, fill 250ms linear;
}

.footer-logo__link:hover, .footer-logo__link:focus {
  background-color: #2196f3;
}

.footer-logo__link:hover .footer-logo__icon,
.footer-logo__link:focus .footer-logo__icon {
  fill: white;
  background-color: #2196f3;
}

.footer-logo__icon {
  fill: white;
  transition: background-color 2500ms linear;
}

@media screen and (min-width: 768px) {
  .footer-section__nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__nav {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .conecting-list {
    margin-left: 70px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .conecting-list {
    margin-left: 70px;
  }
}

.conecting-list h3 {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .conecting-list h3 {
    text-align: left;
  }
}

.online-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.online-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .online-form__input {
    display: flex;
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .online-form__input {
    display: inline-block;
  }
}

.online-form__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 1200px) {
  .online-form__text {
    margin-bottom: 0px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .online-form {
    display: inline-block;
  }
}

.online-form__btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-top: 20px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.online-form__logo {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__naw {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  color: var(--white-collor);
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
}

.hero__buttons {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: var(--white-collor);
  background: #2196f3;
}

.section-advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage {
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .advantage {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    display: flex;
    flex-wrap: nowrap;
  }
}

.advantage__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    width: calc(100% / 2 - 30px);
  }
  .advantage__list:nth-child(1n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantage__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.advantage__meaning {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-collor);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantage__meaning {
    text-align: left;
  }
}

.advantage__example {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
}

.advantage__logo-lits {
  justify-content: center;
  align-items: center;
  display: flex;
}

.advantage__logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.section-line__line {
  display: flex;
}

.section-line__line .list:not(:last-child) {
  margin-right: 30px;
}

.section-line {
  visibility: hidden;
  display: none;
  font-size: 0;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .section-line {
    visibility: visible;
    display: block;
  }
}

.section-line .section-line__line {
  justify-content: center;
}

.section-line h2 {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
}

.section-line .section-line__list {
  position: relative;
  display: flex;
}

.section-line .section-line__list:not(:last-child) {
  margin-right: 30px;
}

.section-line__text {
  display: flex;
  width: 370px;
  height: 70px;
  color: #ffffff;
  left: 0;
  bottom: 0;
  position: absolute;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-employee {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .section-employee {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-employee h2 {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-collor);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-employee h2 {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section-employee__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .section-employee__line {
    display: flex;
    flex-wrap: nowrap;
  }
}

.section-employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--title-text-collor);
}

.section-employee__department {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.section-employee__list {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 3px;
  offset: 0px, 1px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .section-employee__list:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 780px) {
  .section-employee__list {
    margin-bottom: 30px;
  }
  .section-employee__list:nth-child(1n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-employee__list {
    margin-bottom: 0;
  }
}

.employee {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-employe__logo-list {
  display: flex;
  justify-content: center;
}

.section-employee__logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.section-employee__logo-item:not(:last-child) {
  margin-right: 10px;
}

.section-employee__logo-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear, fill 250ms linear;
}

.section-employee__logo-link:hover, .section-employee__logo-link:focus {
  background-color: #2196f3;
}

.section-employee__logo-link:hover .section-employee__logo-icon,
.section-employee__logo-link:focus .section-employee__logo-icon {
  fill: #ffffff;
}

.section-employee__logo-icon {
  fill: #afb1b8;
}

.company__name {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.17;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .company__name {
    font-size: 36px;
    line-height: 1.16;
  }
}

.company {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .company {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 450px) {
  .company__logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .company__logo-list {
    flex-wrap: nowrap;
  }
}

.company__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 1px;
  border-color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0;
}

.company__logo-link:hover, .company__logo-link:focus {
  border-color: #2196f3;
}

.company__logo-link:hover .company__logo-icon,
.company__logo-link:focus .company__logo-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .company__logo-link {
    width: 226px;
  }
}

.company__logo-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.company__logo-item:nth-child(1n + 5) {
  margin-bottom: 0;
}

@media screen and (min-width: 780px) {
  .company__logo-item:nth-child(1n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .company__logo-item {
    width: 170px;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }
  .company__logo-item:not(:last-child) {
    margin-right: 30px;
  }
}

.company__logo-icon {
  fill: #afb1b8;
  transition: background-color 250ms linear, fill 250ms linear;
}

.buttons-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .buttons-line {
    justify-content: center;
  }
}

.buttons-line :not(:last-child) {
  margin-right: 8px;
}

.buttons-line__list:nth-child(4n + 1) {
  margin-bottom: 10px;
}

.buttons-line__list:nth-child(1n + 4) {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .buttons-line__list:nth-child(1n + 1) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-line__list {
    margin-bottom: 0;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio .buttons-line__buttons {
  font-family: roboto, sans-serif;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear;
}

.section-portfolio .buttons-line__buttons:hover,
.section-portfolio .buttons-line__buttons:focus {
  background-color: #2196f3;
  color: var(--white-collor);
}

.buttons-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .buttons-line {
    justify-content: center;
  }
}

.buttons-line :not(:last-child) {
  margin-right: 8px;
}

.buttons-line__list:nth-child(4n + 1) {
  margin-bottom: 10px;
}

.buttons-line__list:nth-child(1n + 4) {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .buttons-line__list:nth-child(1n + 1) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-line__list {
    margin-bottom: 0;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio .buttons-line__buttons {
  font-family: roboto, sans-serif;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear;
}

.section-portfolio .buttons-line__buttons:hover,
.section-portfolio .buttons-line__buttons:focus {
  background-color: #2196f3;
  color: var(--white-collor);
}

.portfolio-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.content-line {
  display: flex;
  justify-content: center;
}

.content-line:nth-child(9) {
  margin-bottom: 0;
}

.content-line__text {
  height: 100vh;
  text-align: start;
}

.content-line__list {
  border: 1px solid #eeeeee;
  offset: 0px, 1px;
  transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear;
  position: relative;
}

.content-line__list.content-line__list:focus, .content-line__list.content-line__list:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.content-line__list:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .content-line__list:nth-child(2) {
    margin-top: 0;
  }
  .content-line__list:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .content-line__list:nth-child(3) {
    margin-top: 0;
  }
  .content-line__list:nth-child(2n + 1) {
    margin-right: 0;
  }
  .content-line__list:nth-child(3n), .content-line__list:nth-child(3n - 1) {
    margin-left: 30px;
  }
}

.section-portfolio h3 {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-collor);
  margin-bottom: 4px;
}

.portfolio-list_mean {
  text-align: start;
  font-size: 16px;
  line-height: 1.87;
}

.content-line .content-line__list:hover .content-line__text {
  transform: translateY(0);
}

.content-line__text-wrap {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.content-line__text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.5;
  padding: 24px 24px;
  margin-top: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

@media screen and (min-width: 480px) {
  .content-line__text {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .content-line__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .content-line__text {
    padding: 63px 24px;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotateY(270deg) translate(100px, 100px);
  transition: transform 600ms;
}

.modal {
  width: 100%;
  max-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  transform: scale(1) rotate(0) translate(-50%, -50%);
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: none;
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: none;
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-box {
  font-size: 12px;
  line-height: 1.17;
  border: none;
  margin-bottom: 30px;
  padding: 0;
  align-items: center;
  display: flex;
}

.modal-list {
  padding: 40px;
}

.modal-title {
  font-weight: 700px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.17;
  }
}

.modal-for-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-right: 10px;
  padding-left: 42px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .input-icon {
  fill: #2196f3;
}

.modal-form-text {
  font-size: 12px;
  line-height: 1.17;
  display: block;
  color: #757575;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 120px;
  padding: 10px;
  resize: none;
  margin-bottom: 20px;
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
  align-items: center;
  padding: 0;
  margin-left: -15px;
}

@media screen and (min-width: 480px) {
  .modal-check-text {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .modal-check-text {
    margin-left: 0;
    font-size: 14px;
    line-height: 1.17;
  }
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check-text .icon-check {
  fill: #ffffff;
}

.modal-check {
  font-size: 12px;
  line-height: 1.7;
  display: flex;
  align-items: center;
}

.modal-check:checked + .modal-check-text span {
  border: none;
  background-color: #2196f3;
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 3px;
}

.modal-submit-button {
  height: 40px;
  width: 150px;
  margin-top: -20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .modal-submit-button {
    height: 50px;
    width: 200px;
    margin-bottom: 20;
  }
}
/*# sourceMappingURL=main.css.map */