.section-line__line {
  display: flex;
  & .list:not(:last-child) {
    margin-right: 30px;
  }
}

.section-line {
  visibility: hidden;
  display: none;
  font-size: 0;
  padding-bottom: 94px;
  @media screen and (min-width: 1200px) {
    visibility: visible;
    display: block;
  }
  .section-line__line {
    justify-content: center;
  }
  h2 {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
  & .section-line__list {
    position: relative;
    display: flex;
  }
  & .section-line__list:not(:last-child) {
    margin-right: 30px;
  }
}

.section-line__text {
  display: flex;
  width: 370px;
  height: 70px;
  color: #ffffff;
  left: 0;
  bottom: 0;
  position: absolute;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
